<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GCP.OAuth.styles.css" asp-append-version="true" />
</head>
<body class="bgColor-LightGreen">

    <Center>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GCP.OAuth</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="text-align:right">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Login" asp-controller="" asp-action="">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Login" asp-controller="Login" asp-action="Signup">Sign Up</a>
                        </li>
                    </ul>

                    <!-- <partial name="_LoginPartial" />-->
                </div>
            </div>
        </nav>
    <h1>Account Login</h1>

        @RenderBody()
    </Center>
</body>
</html>
